*.pyc
__pycache__/
geckodriver.log
**/reports/*
drivers/*
debug.log
.idea
projects/simplesite/tests/Menu/__init__.py
projects/simplesite/tests/__init__.py
projects/simplesite/suites/Our_blog/__init__.py
projects/simplesite/suites/Themes/__init__.py
projects/simplesite/suites/make/__init__.py
projects/simplesite/suites/Main/__init__.py
projects/simplesite/suites/Login/Login_p/__init__.py
projects/simplesite/suites/Login/__init__.py
projects/simplesite/suites/Lang/__init__.py
projects/simplesite/suites/Footer/__init__.py
projects/simplesite/suites/Features/__init__.py
projects/simplesite/suites/cust_serv/__init__.py
projects/simplesite/suites/__init__.py
projects/simplesite/pages/main/__init__.py
projects/simplesite/pages/header/__init__.py
projects/simplesite/pages/footer/__init__.py
projects/simplesite/pages/__init__.py
projects/simplesite/__init__.py
